<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button id="trigger-button">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="saveProfile()"  id="form">
    <ion-item>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input formControlName="nombres"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input formControlName="apellidos"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input formControlName="telefono"></ion-input>
    </ion-item>

        <ion-button type="submit" expand="block" shape="round" >
          <ion-icon name="save"></ion-icon> Guardar
        </ion-button>

        <ion-button type="submit"  expand="block" shape="round"(click)="cancelEditProfile()">
          <ion-icon name="close"></ion-icon> Cancelar
        </ion-button>


        <ion-button type="submit" expand="block" shape="round" (click)="EliminarCuenta()">
          <ion-icon name="close" ></ion-icon>Borrar Cuenta
        </ion-button>

  </form>
</ion-content>
<ion-popover
  class="content-popover"
  trigger="trigger-button"
  [dismissOnSelect]="true"
>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-list-header><strong>JM boutique</strong></ion-list-header>
        <ion-item lines="none" button (click)="editProfile()">
          <ion-icon name="pencil-outline"></ion-icon> 
          &nbsp; Editar Perfil
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>