<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="primary" slot="start" >
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icontent">
    <ion-list class="cento">
      <ion-card class="col">
        <ion-card-header>
          <ion-card-title>{{Producto.nombre}}</ion-card-title>
          <ion-img [src]= "Producto.imagen_1">  </ion-img>
        </ion-card-header>
        <ion-card-content>{{Producto.descripcion_producto}}</ion-card-content>

        <ion-card-content>Talla: {{Items[0].nombre}}</ion-card-content>
        <ion-card-content>{{Items[0].medidas}}</ion-card-content>
      </ion-card>
      <ion-button type="submit" (click)="Agregar()" shape="round" expand="block">
        <ion-icon name="cart-outline"></ion-icon> &nbsp; Agregar al carrito
      </ion-button>
      <ion-button (click)="closeModal()" color="danger" shape="round" expand="block">
        <ion-icon name="close"></ion-icon> Cancelar
      </ion-button>
    </ion-list>
   
  </div>
  
</ion-content>