<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{Producto.nombre}}</ion-card-title>
      <ion-img [src]= "Producto.imagen_1">  </ion-img>
    </ion-card-header>
    <ion-card-content>{{Producto.descripcion_producto}}</ion-card-content>
      <h2>Talla</h2>
    <ion-label>{{Items[0].nombre}}</ion-label>
    <ion-label>{{Items[0].medidas}}</ion-label>
  </ion-card>
  <ion-button type="submit" class="buttons-action__save" (click)="Agregar()">
    <ion-icon name="save"></ion-icon> &nbsp; Agregar al carrito
  </ion-button>
  <ion-button class="buttons-action__cancel" (click)="closeModal()">
    <ion-icon name="close"></ion-icon> Cancelar
  </ion-button>
</ion-content>