<ion-tabs>
  <div>
    <ion-segment scrollable value="heart">
      <ion-segment-button [routerLink]="['/tabsc/carrito']" value="Carrito">
        Carrito
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabsc/miscompras']" value="Compras">
        Mis compras
      </ion-segment-button>
      
    </ion-segment>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="inicio()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio </ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salir" (click)="salir()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>