

<ion-tabs>
  <div class="col">
    <ion-segment scrollable value="heart">
      <ion-segment-button [routerLink]="['/tabs/home']" value="sandalias">
        Todo
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('vestidos')" value="vestidos">
        Vestidos
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('faldas')" value="faldas">
        Faldas
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('tops')" value="tops">
        Tops
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('pantalones')" value="pantalones">
        Pantalones
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('shorts')" value="shorts">
        Shorts
      </ion-segment-button>
      <ion-segment-button (click)="redireccionar('blusas')" value="blusas">
        Blusas
      </ion-segment-button>
      
    </ion-segment>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="inicio()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salir" (click)="salir()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>