

<ion-tabs>
  <div>
    <ion-segment scrollable value="heart">
      <ion-segment-button [routerLink]="['/tabs/home']" value="sandalias">
        Todo
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/vestidos']" value="vestidos">
        Vestidos
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/faldas']" value="faldas">
        Faldas
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/tops']" value="tops">
        Tops
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/pantalones']" value="pantalones">
        Pantalones
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/shorts']" value="shorts">
        Shorts
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/tabs/blusas']" value="blusas">
        Blusas
      </ion-segment-button>
      
    </ion-segment>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salir" (click)="salir()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>