<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons [routerLink]="['/tabs/home']" slot="primary" slot="start">
      <ion-button>
        <ion-icon   name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="icontent">
    <ion-list class="cento">
      <ion-item *ngFor="let item of Items">
        <ion-card class="col">
          <img src={{item.imagen_1}}>
          <ion-card-header>
            <ion-card-title>{{item.nombre}}</ion-card-title>
            <ion-buttons (click)="EliminarCarrito(item.idcarrito)">
              <ion-button>
                <ion-icon  name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-header>
          <ion-card-content>{{item.precio}}</ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
