<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['/tabs/home']" slot="primary" slot="start">
      <ion-button>
        <ion-icon   name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of Items">
      <ion-card>
        <img src={{item.imagen_1}}>
        <ion-card-header>
          <ion-card-title>{{item.nombre}}</ion-card-title>
          <ion-buttons (click)="EliminarCarrito(item.idcarrito)">
            <ion-button>
              <ion-icon  name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-header>
        <ion-card-content>{{item.precio}}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
